        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/jquery.rateyo.min.js" type="text/javascript"></script>
        <script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/javascripts/script.js" type="text/javascript"></script>
    </body>
</html>