<div class="food_cell">
    <img src="/images/logo.png" alt="image" class="food_image">
    <h3 class="food_name"> <%= food %> </h3>
    <div class="rating_stars"></div>
    <h2 class="rating_number">(4.2/5)</h2>
</div>
<div>
    <h1>information</h1>
</div>